<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://124.160.96.197:8080/ipa/hzzSampleJiaxing/hzzSampleJiaxing.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://124.160.96.197:8080/ipa/hzzSample_57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://124.160.96.197:8080/ipa/hzzSample_512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.uhope.hzzSimpleJiaxing</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>嘉兴河长制</string>
				<!-- 根据项目需要自定义的字段 -->
				<key>updateMsg</key>
				<string>1.1.0版本发布了，优化了用户体验</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
